<div class="container p-4">
    <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card ">
       <div class="card-body">
        <form action="/dts/edit-dt/{{dt.id}}" method="POST">
           <div class="form-group">
            <label for="nombre">NOMBRE:</label>
             <input type="text" value="{{dt.name_DT}}" class="form-control" name="name_DT" placeholder="nombre DT" autofocus>
           </div>
           <div class="form-group">
            <label for="equipo">EQUIPO:</label>
            <input type="text" value="{{dt.team_DT}}" class="form-control" name="team_DT" placeholder="equipo DT" autofocus>
           </div>
           <div class="form-group">
            <label for="edad">EDAD:</label>
           <input type="text" value="{{dt.age_DT}}" class="form-control" name="age_DT" placeholder="edad DT" autofocus>
           </div>
           <div class="form-group">
            <div class="form-group">
              <label for="valoracion">VALORACION:</label>
             <input type="text" value="{{dt.valoration_DT}}" class="form-control" name="valoration_DT" placeholder="valoracion DT" autofocus>
           </div>
            <button class="btn btn-success btn-block">
              save
            </button>
           </div>
        </form>
       </div>
      </div>
    </div>
  </div>
   
</div>