
  <link rel="stylesheet" href="/css/list.css">
  
  <center><h3>SOCIAL-SOCCER</h3></center>

  
   
    {{#each dt}}
      <div class="card-1">
    <div class="head">
       <div class="circle">
        <div class="img">
          <img src="https://pps.whatsapp.net/v/t61.24694-24/86820151_1432562730257564_4798838970413289601_n.jpg?ccb=11-4&oh=01_AVy5jVid1nigQXFAzmgd8UeFRPT5W5BvoVKPnzqxWBvzxw&oe=634AAF99" alt="">
        </div>
       </div>
    </div>
    <div class="description">
      <h4>{{name_DT}}</h4>
      <h5>{{team_DT}}</h5>

      <p>{{age_DT}}</p>

      <p>{{valoration_DT}}</p>
    </div>
    <div class="contact">
      <a href="/dts/delete-dt/{{id}}">DELETE</a>
      <a href="/dts/edit-dt/{{id}}">EDIT</a>
    </div>
  </div>
      {{else}}
      <div class="agregar">
        <a href="/dts/add-dt">AGREGAR DT</a>
      </div>
    {{/each}}
    </div>
</div>
