<div class="container p-4">
  <center><h3>EQUIPO</h3>
    <div class="row">
        
    {{#each team}}
      <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
               
                <h3 class="card text-uppercase" style="color: blue;">
                    {{name_team}}
                </h3>
                <p class="m-2">{{league_team}}</p>
                <a href="/teams/delete-team/{{id}}" class="btn btn-danger">Delete</a>
                <a href="/teams/edit-team/{{id}}" class="btn btn-secondary">Edit</a>
               
            </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>There are not links save yet.</p>
          <a href="/teams/add-team">Create One!</a>
        </div>
      </div>
    {{/each}}
    </div>
</div>