
  <link rel="stylesheet" href="/css/list.css">
  
  <center><h3>SOCIAL-SOCCER</h3></center>

  
   
    {{#each Players}}
      <div class="card-1">
    <div class="head">
       <div class="circle">
        <div class="img">
          <img src="https://www.eluniverso.com/resizer/ybZzeBd1qVvonYAwP9wQ2hAh71c=/710x660/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/Y2QP7TEWTJBC3PVMZZ5ZYYXJX4.jpg" alt="">
        </div>
       </div>
    </div>
    <div class="description">
      <h4>{{name_Player}}</h4>
      <h5>{{surname_Player}}</h5>

      <p>{{age_Player}}</p>

      <p>{{age_Player}}</p>
    </div>
    <div class="contact">
      <a href="/players/delete-player/{{id}}">DELETE</a>
      <a href="/players/edit-player/{{id}}">EDIT</a>
    </div>
  </div>
      {{else}}
      <div class="agregar">
        <a href="/players/add-player">AGREGAR JUGADOR</a>
      </div>
    {{/each}}
    </div>
</div>
