
  <link rel="stylesheet" href="/css/list.css">
  
  <center><h3>SOCIAL-SOCCER</h3></center>

  
   
    {{#each leagueBarrels}}
      <div class="card-1">
    <div class="head">
       <div class="circle">
        <div class="img">
          <img src="https://guayllabamba.sadcaf.com/imagenes/logo.png" alt="">
        </div>
       </div>
    </div>
    <div class="description">
      <h4>{{league_barrels}}</h4>
      <h5>{{name_league_barrels}}</h5>
      <h5>{{location_league_barrels}}</h5>

      <p>{{type_league_barrels}}</p>

    </div>
    <div class="contact">
      <a href="/leagueBarrels/delete-leagueBarrel/{{id}}">DELETE</a>
      <a href="/leagueBarrels/edit-leagueBarrel/{{id}}">EDIT</a>
    </div>
  </div>
      {{else}}
      <div class="agregar">
        <a href="/leagueBarrels/add-leagueBarrel">AGREGAR LIGA BARRIAL</a>
      </div>
    {{/each}}
    </div>
</div>
</body>
</html>