<div class="container p-4">
  <center><h3>GAME</h3>
    <div class="row">
        
    {{#each match}}
      <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
               
                <h3 class="card text-uppercase" style="color: blue;">
                    {{place_Match}}
                </h3>
                <p class="m-2">{{match_time}}</p>
                <p class="m-2">{{Date_match}}</p>
                <a href="/matches/delete-match/{{id}}" class="btn btn-danger">Delete</a>
                <a href="/matches/edit-match/{{id}}" class="btn btn-secondary">Edit</a>
               
            </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>There are not links save yet.</p>
          <a href="/matches/add-match">Create One!</a>
        </div>
      </div>
    {{/each}}
    </div>
</div>