
  <link rel="stylesheet" href="/css/list.css">
 
  <center><h3>SOCIAL-SOCCER</h3></center>

  
   
    {{#each match}}
      <div class="card-1">
    <div class="head">
       <div class="circle">
        <div class="img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS68CuqzLnHbC41jV1avulfURGLcOXIYcEm2Q&usqp=CAU" alt="">
        </div>
       </div>
    </div>
    <div class="description">
      <h4>{{place_Match}}</h4>
      <h5>{{match_time}}</h5>

      <p>{{Date_match}}</p>

    </div>
    <div class="contact">
      <a href="/matches/delete-match/{{id}}">DELETE</a>
      <a href="/matches/edit-match/{{id}}">EDIT</a>
    </div>
  </div>
      {{else}}
      <div class="agregar">
        <a href="/matches/add-match">AGREGAR PARTIDO</a>
      </div>
    {{/each}}
    </div>
</div>
